<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>peterburt.stash</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2FF3D081-2070-4996-A83E-73F6D03559D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE68EE6A-DA23-4B40-B5B4-6E574C14FB23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4362F1D1-D238-479D-ADBE-EC5585F884B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3F336D5-3A85-4D56-A037-643D1EB19A63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Peter Burt</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Stash</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python stash_output.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E3F336D5-3A85-4D56-A037-643D1EB19A63</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>stash</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Retrieving...</string>
				<key>script</key>
				<string>python stash.py {query}</string>
				<key>subtext</key>
				<string>Browse stash repositories</string>
				<key>title</key>
				<string>Stash</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4362F1D1-D238-479D-ADBE-EC5585F884B9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>stash-settings</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python stash_settings.py {query}</string>
				<key>subtext</key>
				<string>Modify stash workflow settings</string>
				<key>title</key>
				<string>Stash Settings</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2FF3D081-2070-4996-A83E-73F6D03559D3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python stash_settings_output.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DE68EE6A-DA23-4B40-B5B4-6E574C14FB23</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2FF3D081-2070-4996-A83E-73F6D03559D3</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4362F1D1-D238-479D-ADBE-EC5585F884B9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DE68EE6A-DA23-4B40-B5B4-6E574C14FB23</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E3F336D5-3A85-4D56-A037-643D1EB19A63</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/pburt/alfred-stash</string>
</dict>
</plist>
